body {
    font-family: sans-serif;
}
header img{
    width: 1005px;
    height: 600px;
    box-shadow: 3px 3px 5px 3px #5A90F8;
}
h1{
    text-align: center;
}
main p{
    background-image: linear-gradient(to right bottom, #5A90F8, white);
}
